
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Bug</h1>

<f:flashMessages />

<table  class="tx_projectmanager" >
	<tr>
		<th><f:translate key="tx_projectmanager_domain_model_bug.name" /></th>
		<th><f:translate key="tx_projectmanager_domain_model_bug.description" /></th>
		<th><f:translate key="tx_projectmanager_domain_model_bug.comment" /></th>
		<th><f:translate key="tx_projectmanager_domain_model_bug.solved" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{bugs}" as="bug">
		<tr>
			<td><f:link.action action="show" arguments="{bug : bug}"> {bug.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{bug : bug}"> {bug.description}</f:link.action></td>
			<td><f:link.action action="show" arguments="{bug : bug}"> {bug.comment}</f:link.action></td>
			<td><f:link.action action="show" arguments="{bug : bug}"> {bug.solved}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{bug : bug}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{bug : bug}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Bug</f:link.action>
</f:section>