
<label for="name">
	<f:translate key="tx_projectmanager_domain_model_files.name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="name" /><br />
<label for="description">
	<f:translate key="tx_projectmanager_domain_model_files.description" />
</label><br />
	<f:form.textarea property="description" cols="40" rows="15" /><br />
<label for="file">
	<f:translate key="tx_projectmanager_domain_model_files.file" />
</label><br />
	<span>File upload is not implemented!</span><br /><br />