
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
    <div class="row">
        <div class="col-xs-12">
            <h1><f:translate key="tx_projectmanager_domain_model_users" /> {business.name}</h1>
        </div>
    </div>
    
    <f:flashMessages />

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-3">
                    <f:form action="list">
                        <div class="input-group">
                            <f:form.textfield class="form-control" name="search" placeholder="{f:translate(key:'search-for')}" value="{search}" /> 
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-search btn-info"><span aria-hidden="true" class="glyphicon glyphicon-search"></span></button>
                            </span>
                        </div>
                    </f:form>          
                </div>
                <div class="col-sm-1">
                    <f:link.action action="new" arguments="{search: search, orderProperty: orderProperty, orderStr: orderStr}">
                        <button aria-label="Add a User" class="new-user btn btn-info" type="button">
                            <span aria-hidden="true" class="glyphicon glyphicon-plus"></span> <f:translate key="tx_projectmanager_domain_model_user" /> 
                        </button>
                    </f:link.action> 
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table  class="table table-striped table-condensed table-bordered">

                        <tr>
                            <th class="noWrap">
                                <f:if condition="{orderStr} == 'asc'">
                                    <f:then>
                                        <f:link.action action="list" arguments="{search: search, orderProperty:'name', orderStr:'desc'}"><f:translate key="tx_projectmanager_domain_model_user.name" /></f:link.action>
                                    </f:then>
                                    <f:else>
                                        <f:link.action action="list" arguments="{search: search, orderProperty:'name', orderStr:'asc'}"><f:translate key="tx_projectmanager_domain_model_user.name" /></f:link.action>                                         
                                    </f:else>
                                </f:if>
                            </th>    
                            <th class="noWrap">
                                <f:if condition="{orderStr} == 'asc'">
                                    <f:then>
                                        <f:link.action action="list" arguments="{search: search, orderProperty:'usergroup.title', orderStr:'desc'}"><f:translate key="tx_projectmanager_domain_model_user.usergroup" /></f:link.action>
                                    </f:then>
                                    <f:else>
                                        <f:link.action action="list" arguments="{search: search, orderProperty:'usergroup.title', orderStr:'asc'}"><f:translate key="tx_projectmanager_domain_model_user.usergroup" /></f:link.action>                                         
                                    </f:else>
                                </f:if>
                            </th>     
                            <th class="noWrap">
                                <f:if condition="{orderStr} == 'asc'">
                                    <f:then>
                                        <f:link.action action="list" arguments="{search: search, orderProperty:'business', orderStr:'desc'}"><f:translate key="tx_projectmanager_domain_model_user.business" /></f:link.action>
                                    </f:then>
                                    <f:else>
                                        <f:link.action action="list" arguments="{search: search, orderProperty:'business', orderStr:'asc'}"><f:translate key="tx_projectmanager_domain_model_user.business" /></f:link.action>                                         
                                    </f:else>
                                </f:if>
                            </th> 
                            <th class="noWrap">
                                <f:if condition="{orderStr} == 'asc'">
                                    <f:then>
                                        <f:link.action action="list" arguments="{search: search, orderProperty:'email', orderStr:'desc'}"><f:translate key="tx_projectmanager_domain_model_user.email" /></f:link.action>
                                    </f:then>
                                    <f:else>
                                        <f:link.action action="list" arguments="{search: search, orderProperty:'email', orderStr:'asc'}"><f:translate key="tx_projectmanager_domain_model_user.email" /></f:link.action>                                         
                                    </f:else>
                                </f:if>
                            </th>                             
                            <th class="noWrap">
                                <f:if condition="{orderStr} == 'asc'">
                                    <f:then>
                                        <f:link.action action="list" arguments="{search: search, orderProperty:'hourly_rate', orderStr:'desc'}"><f:translate key="tx_projectmanager_domain_model_user.hourly_rate" /></f:link.action>
                                    </f:then>
                                    <f:else>
                                        <f:link.action action="list" arguments="{search: search, orderProperty:'hourly_rate', orderStr:'asc'}"><f:translate key="tx_projectmanager_domain_model_user.hourly_rate" /></f:link.action>                                         
                                    </f:else>
                                </f:if>
                            </th> 
                            <th class="noWrap width144"> </th> 
                            <th class="noWrap width50"><f:translate key="tx_projectmanager_domain_model_projects" /></th>                             
                            <th class="noWrap width50"><f:translate key="tx_projectmanager_domain_model_project.task" /></th>
                            <th class="noWrap width50"><f:translate key="tx_projectmanager_domain_model_times" /></th>
                        </tr>

                    <f:for each="{users}" as="user">
                        <tr>
                            <td><f:link.action action="show" arguments="{user : user, search: search, orderProperty: orderProperty, orderStr: orderStr}"> {user.name}</f:link.action></td>
                            <td>
                                <f:for each="{user.usergroup}" as="userGroup" iteration="iteration">
                                    {userGroup.title}<f:if condition='{iteration.isLast}'><f:then></f:then><f:else>,</f:else></f:if>
                                </f:for>
                            </td>              
                            <td><f:link.action action="show" arguments="{user : user, search: search, orderProperty: orderProperty, orderStr: orderStr}"> {user.business.name}</f:link.action></td>
                            <td><f:link.email email="{user.email}">{user.email}</f:link.email></td>
                            <td><f:link.action action="show" arguments="{user : user, search: search, orderProperty: orderProperty, orderStr: orderStr}"> {user.hourlyRate}</f:link.action></td>
                            <td class="noWrap">
                                <f:link.action action="show" arguments="{user : user, search: search, orderProperty: orderProperty, orderStr: orderStr}"><button aria-label="Show a User" class="btn btn-success" type="button"><span aria-hidden="true" class="glyphicon glyphicon-list-alt"></span></button></f:link.action>
                                <f:link.action action="edit" arguments="{user : user, search: search, orderProperty: orderProperty, orderStr: orderStr}"><button aria-label="Edit a User" class="btn btn-warning" type="button"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></button></f:link.action>
                                <a href='javascript:ask("<f:uri.action action="delete" arguments="{user : user, search: search, orderProperty: orderProperty, orderStr: orderStr}" />", "{f:translate(key:'delete-confirm-question')}")'>
                                   <button aria-label="Delete a User" class="btn btn-danger" type="button"><span aria-hidden="true" class="glyphicon glyphicon-trash"></span></button>
                                </a> 
                            </td>    
                            <td><f:link.action action="list" controller="Project" pluginName="Projects" pageUid="{projectsUid}" arguments="{user : user}"><button aria-label="Show Projects" class="btn btn-info" type="button"><span aria-hidden="true" class="glyphicon glyphicon-folder-close"></span></button></f:link.action></td>                        
                            <td><f:link.action action="list" controller="Task" pluginName="Tasks" pageUid="{tasksUid}" arguments="{user : user}"><button aria-label="Show Tasks" class="btn btn-info" type="button"><span aria-hidden="true" class="glyphicon glyphicon-folder-close"></span></button></f:link.action></td>
                            <td><f:link.action action="list" controller="Times" pluginName="Times" pageUid="{timesUid}" arguments="{user : user}"><button aria-label="Show Times" class="btn btn-info" type="button"><span aria-hidden="true" class="glyphicon glyphicon-folder-close"></span></button></f:link.action></td>
                        </tr>
                    </f:for>
                </table>

            </div>
        </div>
        <div class="panel-footer">
            <nav>
                <ul class="pagination">               
                    <f:for each="{pagination}" as="paginator">
                        <f:if condition='{paginator.class}'>
                            <f:then>
                                <f:if condition='{paginator.class} == "active"'>
                                    <li class="active"><a href="#">{paginator.value}</a></li>
                                </f:if>
                                <f:if condition='{paginator.class} == "first"'>
                                    <li>
                                    <f:link.action action='list' arguments='{search: search, page: paginator.value, orderProperty: orderProperty, orderStr: orderStr, business: business}'>
                                        <span aria-hidden="true">&laquo;</span>
                                    </f:link.action>
                                    </li>
                                </f:if>   
                                <f:if condition='{paginator.class} == "back"'>   
                                    <li>
                                    <f:link.action action='list' arguments='{search: search, page: paginator.value, orderProperty: orderProperty, orderStr: orderStr, business: business}'>
                                        <span aria-hidden="true">&lsaquo;</span>
                                    </f:link.action>
                                    </li>  
                                </f:if>
                                <f:if condition='{paginator.class} == "forward"'>
                                    <li>
                                    <f:link.action action='list' arguments='{search: search, page: paginator.value, orderProperty: orderProperty, orderStr: orderStr, business: business}'>
                                        <span aria-hidden="true">&rsaquo;</span>
                                    </f:link.action>
                                    </li> 
                                </f:if>
                                <f:if condition='{paginator.class} == "last"'>
                                    <li> 
                                    <f:link.action action='list' arguments='{search: search, page: paginator.value, orderProperty: orderProperty, orderStr: orderStr, business: business}'>
                                        <span aria-hidden="true">&raquo;</span>
                                    </f:link.action>
                                    </li>
                                </f:if>
                            </f:then>
                            <f:else>
                                <li><f:link.action action='list' arguments='{search: search, page: paginator.value, orderProperty: orderProperty, orderStr: orderStr, business: business}'>
                                    {paginator.value}
                                </f:link.action></li>
                            </f:else>
                        </f:if>
                    </f:for>               
                </ul>
            </nav>                   

        </div>
    </div>    
</f:section>                



