
<table class="tx-projectmanager" >
	<tr>
		<td>
			<f:translate key="tx_projectmanager_domain_model_bug.name" />
		</td>
		<td>
		{bug.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_projectmanager_domain_model_bug.description" />
		</td>
		<td>
		{bug.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_projectmanager_domain_model_bug.comment" />
		</td>
		<td>
		{bug.comment}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_projectmanager_domain_model_bug.status" />
		</td>
		<td>
		{bug.status}
		</td>
	</tr>
</table>