
<label for="name">
	<f:translate key="tx_projectmanager_domain_model_additionalcosts.name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="name" /><br />
<label for="costs">
	<f:translate key="tx_projectmanager_domain_model_additionalcosts.costs" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="costs" /><br />
<label for="comment">
	<f:translate key="tx_projectmanager_domain_model_additionalcosts.comment" />
</label><br />
	<f:form.textarea property="comment" cols="40" rows="15" /><br />