{namespace m=Ast\Projectmanager\ViewHelpers}
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
    
    <div class="row">
        <div class="col-xs-12">
            <h1><f:translate key="tx_projectmanager_domain_model_projects" />: 
                <f:if condition="{business}"><f:translate key="tx_projectmanager_domain_model_business" /> {business.name}</f:if>
                <f:if condition="{user}"><f:translate key="tx_projectmanager_domain_model_user" /> {user.name}</f:if>
            </h1>
        </div>
    </div>
    
    <f:flashMessages />

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-8">

                    <f:form class="form-inline" action="list" arguments="{business: business, user: user}">
                        <div class="form-group">
                             <f:form.select name="category" property="categories" options="{allCategories}" optionValueField="uid" optionLabelField="title"  prependOptionLabel="nach Kategorie suchen" prependOptionValue="" value="{category}" multiple="false" size="{1}" class="form-control" />                            
                        </div>                        
                        <div class="form-group input-group">
                            <f:form.textfield class="form-control" name="search" placeholder="{f:translate(key:'search-for')}" value="{search}" /> 
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-search btn-info"><span aria-hidden="true" class="glyphicon glyphicon-search"></span></button>
                            </span>
                        </div>
                    </f:form>          
                </div>
                <div class="col-sm-4">
                    <f:link.action action="new" arguments="{search: search, orderProperty : orderProperty, orderStr : orderStr, business:business, user:user}">
                        <button aria-label="Add a Project" class="new-project btn btn-info" type="button">
                            <span aria-hidden="true" class="glyphicon glyphicon-plus"></span> <f:translate key="tx_projectmanager_domain_model_project" /> 
                        </button>
                    </f:link.action> 

                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="table-responsive">

                <table  class="table businesslist table-striped table-condensed table-bordered">
                    <tr>
                        <th class="noWrap">
                            <f:if condition="{orderStr} == 'asc'">
                                <f:then>
                                    <f:link.action action="list" arguments="{search: search, orderProperty:'name', orderStr:'desc'}"><f:translate key="tx_projectmanager_domain_model_project.name" /></f:link.action>
                                </f:then>
                                <f:else>
                                    <f:link.action action="list" arguments="{search: search, orderProperty:'name', orderStr:'asc'}"><f:translate key="tx_projectmanager_domain_model_project.name" /></f:link.action>                                         
                                </f:else>
                            </f:if>
                        </th>                        
                        <th class="noWrap">
                            <f:if condition="{orderStr} == 'asc'">
                                <f:then>
                                    <f:link.action action="list" arguments="{search: search, orderProperty:'business.name', orderStr:'desc'}"><f:translate key="tx_projectmanager_domain_model_project.business" /></f:link.action>
                                </f:then>
                                <f:else>
                                    <f:link.action action="list" arguments="{search: search, orderProperty:'business.name', orderStr:'asc'}"><f:translate key="tx_projectmanager_domain_model_project.business" /></f:link.action>                                         
                                </f:else>
                            </f:if>
                        </th> 
                        <th class="noWrap">
                            <f:if condition="{orderStr} == 'asc'">
                                <f:then>
                                    <f:link.action action="list" arguments="{search: search, orderProperty:'categories.title', orderStr:'desc'}"><f:translate key="tx_projectmanager_domain_model_project.categories" /></f:link.action>
                                </f:then>
                                <f:else>
                                    <f:link.action action="list" arguments="{search: search, orderProperty:'categories.title', orderStr:'asc'}"><f:translate key="tx_projectmanager_domain_model_project.categories" /></f:link.action>                                         
                                </f:else>
                            </f:if>
                        </th>    
                        <th class="noWrap">
                            <f:if condition="{orderStr} == 'asc'">
                                <f:then>
                                    <f:link.action action="list" arguments="{search: search, orderProperty:'projectManager', orderStr:'desc'}"><f:translate key="tx_projectmanager_domain_model_project.project_manager" /></f:link.action>
                                </f:then>
                                <f:else>
                                    <f:link.action action="list" arguments="{search: search, orderProperty:'projectManager', orderStr:'asc'}"><f:translate key="tx_projectmanager_domain_model_project.project_manager" /></f:link.action>                                         
                                </f:else>
                            </f:if>
                        </th>                          
                        <th class="noWrap">
                            <f:if condition="{orderStr} == 'asc'">
                                <f:then>
                                    <f:link.action action="list" arguments="{search: search, orderProperty:'projectStartDate', orderStr:'desc'}"><f:translate key="tx_projectmanager_domain_model_project.project_start_date" /></f:link.action>
                                </f:then>
                                <f:else>
                                    <f:link.action action="list" arguments="{search: search, orderProperty:'projectStartDate', orderStr:'asc'}"><f:translate key="tx_projectmanager_domain_model_project.project_start_date" /></f:link.action>                                         
                                </f:else>
                            </f:if>
                        </th>  
                        <th class="noWrap">
                            <f:if condition="{orderStr} == 'asc'">
                                <f:then>
                                    <f:link.action action="list" arguments="{search: search, orderProperty:'projectFinishDate', orderStr:'desc'}"><f:translate key="tx_projectmanager_domain_model_project.project_finish_date" /></f:link.action>
                                </f:then>
                                <f:else>
                                    <f:link.action action="list" arguments="{search: search, orderProperty:'projectFinishDate', orderStr:'asc'}"><f:translate key="tx_projectmanager_domain_model_project.project_finish_date" /></f:link.action>                                         
                                </f:else>
                            </f:if>
                        </th>     
                        <th class="noWrap">
                            <f:if condition="{orderStr} == 'asc'">
                                <f:then>
                                    <f:link.action action="list" arguments="{search: search, orderProperty:'estimatedProjectFinishDate', orderStr:'desc'}"><f:translate key="tx_projectmanager_domain_model_project.estimated_project_finish_date" /></f:link.action>
                                </f:then>
                                <f:else>
                                    <f:link.action action="list" arguments="{search: search, orderProperty:'estimatedProjectFinishDate', orderStr:'asc'}"><f:translate key="tx_projectmanager_domain_model_project.estimated_project_finish_date" /></f:link.action>                                         
                                </f:else>
                            </f:if>
                        </th>                          
                        <th class="noWrap">
                            <f:if condition="{orderStr} == 'asc'">
                                <f:then>
                                    <f:link.action action="list" arguments="{search: search, orderProperty:'status', orderStr:'desc'}"><f:translate key="tx_projectmanager_domain_model_project.status" /></f:link.action>
                                </f:then>
                                <f:else>
                                    <f:link.action action="list" arguments="{search: search, orderProperty:'status', orderStr:'asc'}"><f:translate key="tx_projectmanager_domain_model_project.status" /></f:link.action>                                         
                                </f:else>
                            </f:if>
                        </th>                       
                        <th class="noWrap">
                            <f:if condition="{orderStr} == 'asc'">
                                <f:then>
                                    <f:link.action action="list" arguments="{search: search, orderProperty:'critical', orderStr:'desc'}"><f:translate key="tx_projectmanager_domain_model_project.critical" /></f:link.action>
                                </f:then>
                                <f:else>
                                    <f:link.action action="list" arguments="{search: search, orderProperty:'critical', orderStr:'asc'}"><f:translate key="tx_projectmanager_domain_model_project.critical" /></f:link.action>                                         
                                </f:else>
                            </f:if>
                        </th>    
                        <th class="noWrap width144"> </th>
                        <th class="noWrap width50"><f:translate key="tx_projectmanager_domain_model_project.files" /></th> 
                        <th class="noWrap width50"><f:translate key="tx_projectmanager_domain_model_project.tasks" /></th>
                        <th class="noWrap width50"><f:translate key="tx_projectmanager_domain_model_project.newtask" /></th>

                    </tr>

                    <f:for each="{projects}" as="project">
                        <tr>
                            <td><f:link.action action="show" arguments="{project : project, search:search, orderProperty : orderProperty, orderStr : orderStr, business:business, user:user}"> {project.name}</f:link.action></td>
                            <f:if condition="{project.business}"> 
                                <f:then>        
                                    <td>{project.business.name}</td>
                                </f:then>
                                <f:else>
                                    <td class="danger">No entry!</td>
                                </f:else>
                            </f:if>
                            <td>        
                                <f:for each="{project.categories}" as="category" iteration="iteration">
                                    {category.title}<f:if condition='{iteration.isLast}'><f:then></f:then><f:else>,</f:else></f:if>
                                </f:for>
                            </td>
                            <f:if condition="{project.projectManager}"> 
                                <f:then>        
                                    <td>{project.projectManager.name}</td>
                                </f:then>
                                <f:else>
                                    <td class="danger">No entry!</td>
                                </f:else>
                            </f:if>                            
                            <td>{project.projectStartDate -> f:format.date(format: 'd.m.Y')}</td>                            
                            <td>{project.projectFinishDate -> f:format.date(format: 'd.m.Y')}</td>
                            <td>{project.estimatedProjectFinishDate -> f:format.date(format: 'd.m.Y')}</td>                            
                            <td><m:statusEntry statusEntries="{statusEntries}" status="{project.status}" /></td>
                            <td>
                                <f:if condition="{project.critical}==1">
                                    <f:then>
                                      <f:translate key="tx_projectmanager_domain_model_project.critical.true" />
                                    </f:then>
                                    <f:else>
                                      <f:translate key="tx_projectmanager_domain_model_project.critical.false" />  
                                    </f:else>
                                </f:if>        
                            </td>
                            <td class="noWrap">
                                <f:link.action action="show" arguments="{project : project, search: search, orderProperty : orderProperty, orderStr : orderStr, business:business, user:user}"><button aria-label="Show a Project" class="btn btn-success" type="button"><span aria-hidden="true" class="glyphicon glyphicon-list-alt"></span></button></f:link.action>
                                <f:link.action action="edit" arguments="{project : project, search: search, orderProperty : orderProperty, orderStr : orderStr, business:business, user:user}"><button aria-label="Edit a Project" class="btn btn-warning" type="button"><span aria-hidden="true" class="glyphicon glyphicon-pencil"></span></button></f:link.action>
                                <a href='javascript:ask("<f:uri.action action="delete" arguments="{project : project, search: search, orderProperty : orderProperty, orderStr : orderStr, business:business, user:user}" />", "{f:translate(key:'delete-confirm-question')}")'>
                                   <button aria-label="Delete a Project" class="btn btn-danger" type="button"><span aria-hidden="true" class="glyphicon glyphicon-trash"></span></button>
                                </a>
                            </td>
                            <td><f:link.action action="listFiles" arguments="{project : project, currentFolder:null, search: search, orderProperty : orderProperty, orderStr : orderStr, business:business, user:user}"><button aria-label="Show Files" class="btn btn-folder" type="button"><span aria-hidden="true" class="glyphicon glyphicon-folder-close"></span></button></f:link.action></td>
                            <td><f:link.action action="list" controller="Task" pluginName="Tasks" pageUid="{tasksUid}" arguments="{project : project}"><button aria-label="Show Tasks" class="btn btn-info" type="button"><span aria-hidden="true" class="glyphicon glyphicon-folder-close"></span></button></f:link.action></td>
                            <td><f:link.action action="new" controller="Task" pluginName="Tasks" pageUid="{tasksUid}" arguments="{project : project}"><button aria-label="Add a Task" class="new-project btn btn-info" type="button"><span aria-hidden="true" class="glyphicon glyphicon-plus"></span> <span aria-hidden="true" class="glyphicon glyphicon-folder-close"></span><!--f:translate key="tx_projectmanager_domain_model_tasks" /--></button></f:link.action></td>
                        </tr>
                    </f:for>
                </table>

            </div>
        </div>
        <div class="panel-footer">
            <nav>
                <ul class="pagination">               
                    <f:for each="{pagination}" as="paginator">
                        <f:if condition='{paginator.class}'>
                            <f:then>
                                <f:if condition='{paginator.class} == "active"'>
                                    <li class="active"><a href="#">{paginator.value}</a></li>
                                </f:if>
                                <f:if condition='{paginator.class} == "first"'>
                                    <li>
                                    <f:link.action action='list' arguments='{search: search, orderProperty : orderProperty, orderStr : orderStr, page: paginator.value, business:business, user:user}'>
                                        <span aria-hidden="true">&laquo;</span>
                                    </f:link.action>
                                    </li>
                                </f:if>   
                                <f:if condition='{paginator.class} == "back"'>   
                                    <li>
                                    <f:link.action action='list' arguments='{search: search, orderProperty : orderProperty, orderStr : orderStr, page: paginator.value, business:business, user:user}'>
                                        <span aria-hidden="true">&lsaquo;</span>
                                    </f:link.action>
                                    </li>  
                                </f:if>
                                <f:if condition='{paginator.class} == "forward"'>
                                    <li>
                                    <f:link.action action='list' arguments='{search: search, orderProperty : orderProperty, orderStr : orderStr, page: paginator.value, business:business, user:user}'>
                                        <span aria-hidden="true">&rsaquo;</span>
                                    </f:link.action>
                                    </li> 
                                </f:if>
                                <f:if condition='{paginator.class} == "last"'>
                                    <li> 
                                    <f:link.action action='list' arguments='{search: search, orderProperty : orderProperty, orderStr : orderStr, page: paginator.value, business:business, user:user}'>
                                        <span aria-hidden="true">&raquo;</span>
                                    </f:link.action>
                                    </li>
                                </f:if>
                            </f:then>
                            <f:else>
                                <li><f:link.action action='list' arguments='{search: search, orderProperty : orderProperty, orderStr : orderStr, page: paginator.value, business: business, user:user}'>
                                    {paginator.value}
                                </f:link.action></li>
                            </f:else>
                        </f:if>
                    </f:for>               
                </ul>
            </nav>                   

        </div>
    </div>    

</f:section>