
<f:layout name="Default" />

This template displays a NEW form for the current domain object.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
New.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

    <div class="panel panel-info">
        <div class="panel-heading"><h2 class="panel-title"><f:translate key="new-business" /></h2></div>    
        <div class="panel-body"> 

            <f:flashMessages />

            <f:render partial="FormErrors" arguments="{object:Business}" />

            <f:form action="create"  enctype="multipart/form-data"  name="newBusiness" object="{newBusiness}" arguments="{search: search, orderProperty : orderProperty, orderStr : orderStr}">
                <f:render partial="Business/FormFields" arguments="{categories:categories}"  />
                <div class="form-group row">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-info"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> <f:translate key="create-new" /></button>
                    </div>
                </div>         
            </f:form>
        </div>
        <div class="panel-footer">
            <f:link.action action="list" arguments="{search: search, orderProperty : orderProperty, orderStr : orderStr}">
                <button aria-label="Back to list" class="btn btn-default" type="button">
                    <span aria-hidden="true" class="glyphicon glyphicon-arrow-left"></span> <f:translate key="back-to-business-list" /> 
                </button>            
            </f:link.action>            
        </div>               


    </div> 
</f:section>